/*#H3_1 {
    box-sizing: border-box;
    height: 22px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 637.656px;
    perspective-origin: 318.828px 11px;
    transform-origin: 318.828px 11px;
    font: normal normal 400 normal 22px / 22px oswald;
    margin: 0px 0px 15px;
} /*#H3_1*/

#CONTACTSECTION_1 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    display: inline-block;
    height: 1071.41px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: bottom;
    width: 1024px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 512px 535.703px;
    transform-origin: 512px 535.703px;
    caret-color: rgb(97, 97, 97);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box
        border-box;
    border-top: 3px solid rgb(0, 0, 0);
    border-right: 0px none rgb(97, 97, 97);
    border-bottom: 0px none rgb(97, 97, 97);
    border-left: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
    padding: 15px 0px;
} /*#CONTACTSECTION_1*/

#CONTACTDIV_2 {
    box-sizing: border-box;
    clear: both;
    color: rgb(97, 97, 97);
    height: 1038.41px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 1024px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 512px 519.203px;
    transform-origin: 512px 519.203px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_2*/

#CONTACTDIV_3 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    float: left;
    height: 1038.41px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 682.656px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 341.328px 519.203px;
    transform-origin: 341.328px 519.203px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
    padding: 15px 15px 15px 30px;
} /*#CONTACTDIV_3*/

#CONTACTDIV_3:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_3:after*/

#CONTACTDIV_3:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_3:before*/

#CONTACTH2_4 {
    box-sizing: border-box;
    height: 26px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 637.656px;
    perspective-origin: 318.828px 13px;
    transform-origin: 318.828px 13px;
    font: normal normal 400 normal 26px / 26px oswald;
    margin: 0px 0px 15px;
} /*#CONTACTH2_4*/

#CONTACTH2_4:after {
    text-size-adjust: 100%;
    text-transform: uppercase;
    font: normal normal 400 normal 26px / 26px oswaldregular;
} /*#CONTACTH2_4:after*/

#CONTACTH2_4:before {
    text-size-adjust: 100%;
    text-transform: uppercase;
    font: normal normal 400 normal 26px / 26px oswaldregular;
} /*#CONTACTH2_4:before*/

#CONTACTDIV_5 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 430.406px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 637.656px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 318.828px 215.203px;
    transform-origin: 318.828px 215.203px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    margin: 0px 0px 25px;
    outline: rgb(97, 97, 97) none 0px;
    overflow: hidden;
    padding: 0px 0px 430.406px;
} /*#CONTACTDIV_5*/

#CONTACTDIV_5:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_5:after*/

#CONTACTDIV_5:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_5:before*/

#CONTACTIFRAME_6 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    display: block;
    height: 430.406px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    top: 0px;
    width: 637.656px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 318.828px 215.203px;
    transform-origin: 318.828px 215.203px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTIFRAME_6*/

#CONTACTIFRAME_6:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTIFRAME_6:after*/

#CONTACTIFRAME_6:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTIFRAME_6:before*/

#CONTACTHR_7 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 1px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 637.656px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 318.828px 0.5px;
    transform-origin: 318.828px 0.5px;
    caret-color: rgb(97, 97, 97);
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(
            left,
            rgb(0, 0, 0),
            rgb(0, 0, 0) 30%,
            rgb(225, 225, 225) 30%,
            rgb(225, 225, 225)
        ) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    margin: 25px 0px 30px;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTHR_7*/

#CONTACTHR_7:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTHR_7:after*/

#CONTACTHR_7:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTHR_7:before*/

#CONTACTH3_8 {
    box-sizing: border-box;
    height: 22px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 637.656px;
    perspective-origin: 318.828px 11px;
    transform-origin: 318.828px 11px;
    font: normal normal 400 normal 22px / 22px oswaldregular;
    margin: 0px 0px 15px;
} /*#CONTACTH3_8*/

#CONTACTH3_8:after {
    text-size-adjust: 100%;
    text-transform: uppercase;
    font: normal normal 400 normal 22px / 22px oswaldregular;
} /*#CONTACTH3_8:after*/

#CONTACTH3_8:before {
    text-size-adjust: 100%;
    text-transform: uppercase;
    font: normal normal 400 normal 22px / 22px oswaldregular;
} /*#CONTACTH3_8:before*/

#CONTACTFORM_9 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 444px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 637.656px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 318.828px 222px;
    transform-origin: 318.828px 222px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    margin: 0px;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTFORM_9*/

#CONTACTFORM_9:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTFORM_9:after*/

#CONTACTFORM_9:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTFORM_9:before*/

#CONTACTDIV_10,
#CONTACTDIV_15,
#CONTACTDIV_20,
#CONTACTDIV_25 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 57px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 637.656px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 318.828px 28.5px;
    transform-origin: 318.828px 28.5px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_10, #CONTACTDIV_15, #CONTACTDIV_20, #CONTACTDIV_25*/

#CONTACTDIV_10:after,
#CONTACTDIV_15:after,
#CONTACTDIV_20:after,
#CONTACTDIV_25:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_10:after, #CONTACTDIV_15:after, #CONTACTDIV_20:after, #CONTACTDIV_25:after*/

#CONTACTDIV_10:before,
#CONTACTDIV_15:before,
#CONTACTDIV_20:before,
#CONTACTDIV_25:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_10:before, #CONTACTDIV_15:before, #CONTACTDIV_20:before, #CONTACTDIV_25:before*/

#CONTACTLABEL_11,
#CONTACTLABEL_16,
#CONTACTLABEL_21,
#CONTACTLABEL_26,
#CONTACTLABEL_31 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / 22.1px open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLABEL_11, #CONTACTLABEL_16, #CONTACTLABEL_21, #CONTACTLABEL_26, #CONTACTLABEL_31*/

#CONTACTLABEL_11:after,
#CONTACTLABEL_16:after,
#CONTACTLABEL_21:after,
#CONTACTLABEL_26:after,
#CONTACTLABEL_31:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / 22.1px open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLABEL_11:after, #CONTACTLABEL_16:after, #CONTACTLABEL_21:after, #CONTACTLABEL_26:after, #CONTACTLABEL_31:after*/

#CONTACTLABEL_11:before,
#CONTACTLABEL_16:before,
#CONTACTLABEL_21:before,
#CONTACTLABEL_26:before,
#CONTACTLABEL_31:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / 22.1px open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLABEL_11:before, #CONTACTLABEL_16:before, #CONTACTLABEL_21:before, #CONTACTLABEL_26:before, #CONTACTLABEL_31:before*/

#CONTACTSTRONG_12,
#CONTACTSTRONG_17,
#CONTACTSTRONG_22,
#CONTACTSTRONG_27,
#CONTACTSTRONG_32 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    cursor: default;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 700 normal 13px / 22.1px open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTSTRONG_12, #CONTACTSTRONG_17, #CONTACTSTRONG_22, #CONTACTSTRONG_27, #CONTACTSTRONG_32*/

#CONTACTSTRONG_12:after,
#CONTACTSTRONG_17:after,
#CONTACTSTRONG_22:after,
#CONTACTSTRONG_27:after,
#CONTACTSTRONG_32:after {
    color: rgb(97, 97, 97);
    cursor: default;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 700 normal 13px / 22.1px open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTSTRONG_12:after, #CONTACTSTRONG_17:after, #CONTACTSTRONG_22:after, #CONTACTSTRONG_27:after, #CONTACTSTRONG_32:after*/

#CONTACTSTRONG_12:before,
#CONTACTSTRONG_17:before,
#CONTACTSTRONG_22:before,
#CONTACTSTRONG_27:before,
#CONTACTSTRONG_32:before {
    color: rgb(97, 97, 97);
    cursor: default;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 700 normal 13px / 22.1px open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTSTRONG_12:before, #CONTACTSTRONG_17:before, #CONTACTSTRONG_22:before, #CONTACTSTRONG_27:before, #CONTACTSTRONG_32:before*/

#CONTACTDIV_13,
#CONTACTDIV_18,
#CONTACTDIV_23,
#CONTACTDIV_28 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 35px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 637.656px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 318.828px 17.5px;
    transform-origin: 318.828px 17.5px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_13, #CONTACTDIV_18, #CONTACTDIV_23, #CONTACTDIV_28*/

#CONTACTDIV_13:after,
#CONTACTDIV_18:after,
#CONTACTDIV_23:after,
#CONTACTDIV_28:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_13:after, #CONTACTDIV_18:after, #CONTACTDIV_23:after, #CONTACTDIV_28:after*/

#CONTACTDIV_13:before,
#CONTACTDIV_18:before,
#CONTACTDIV_23:before,
#CONTACTDIV_28:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_13:before, #CONTACTDIV_18:before, #CONTACTDIV_23:before, #CONTACTDIV_28:before*/

#CONTACTINPUT_14,
#CONTACTINPUT_19,
#CONTACTINPUT_29 {
    display: block;
    height: 35px;
    text-size-adjust: 100%;
    width: 637.656px;
    perspective-origin: 318.828px 17.5px;
    transform-origin: 318.828px 17.5px;
    background: rgba(95, 90, 108, 0.1) none repeat scroll 0% 0% / auto
        padding-box border-box;
    border: 1px solid rgb(225, 225, 225);
    font: normal normal 400 normal 14px / normal sans-serif;
    margin: 0px 0px 11px;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out 0s;
} /*#CONTACTINPUT_14, #CONTACTINPUT_19, #CONTACTINPUT_29*/

#CONTACTINPUT_14:after,
#CONTACTINPUT_19:after,
#CONTACTINPUT_29:after {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / normal sans-serif;
} /*#CONTACTINPUT_14:after, #CONTACTINPUT_19:after, #CONTACTINPUT_29:after*/

#CONTACTINPUT_14:before,
#CONTACTINPUT_19:before,
#CONTACTINPUT_29:before {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / normal sans-serif;
} /*#CONTACTINPUT_14:before, #CONTACTINPUT_19:before, #CONTACTINPUT_29:before*/

#CONTACTINPUT_24 {
    display: block;
    height: 35px;
    text-size-adjust: 100%;
    width: 637.656px;
    perspective-origin: 318.828px 17.5px;
    transform-origin: 318.828px 17.5px;
    background: rgba(95, 90, 108, 0.1) none repeat scroll 0% 0% / auto
        padding-box border-box;
    border: 1px solid rgb(225, 225, 225);
    font: normal normal 400 normal 14px / normal sans-serif;
    margin: 0px 0px 11px;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out 0s;
} /*#CONTACTINPUT_24*/

#CONTACTINPUT_24:after {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / normal sans-serif;
} /*#CONTACTINPUT_24:after*/

#CONTACTINPUT_24:before {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / normal sans-serif;
} /*#CONTACTINPUT_24:before*/

#CONTACTDIV_30 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 122px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 637.656px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 318.828px 61px;
    transform-origin: 318.828px 61px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_30*/

#CONTACTDIV_30:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_30:after*/

#CONTACTDIV_30:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_30:before*/

#CONTACTDIV_33 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 100px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 637.656px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 318.828px 50px;
    transform-origin: 318.828px 50px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_33*/

#CONTACTDIV_33:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_33:after*/

#CONTACTDIV_33:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_33:before*/

#CONTACTTEXTAREA_34 {
    display: block;
    height: 100px;
    text-size-adjust: 100%;
    vertical-align: top;
    width: 637.656px;
    perspective-origin: 318.828px 50px;
    transform-origin: 318.828px 50px;
    border: 1px solid rgb(225, 225, 225);
    font: normal normal 400 normal 14px / normal sans-serif;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out 0s;
} /*#CONTACTTEXTAREA_34*/

#CONTACTTEXTAREA_34:after {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / normal sans-serif;
} /*#CONTACTTEXTAREA_34:after*/

#CONTACTTEXTAREA_34:before {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / normal sans-serif;
} /*#CONTACTTEXTAREA_34:before*/

#CONTACTDIV_35,
#CONTACTDIV_36 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 50px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 637.656px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 318.828px 25px;
    transform-origin: 318.828px 25px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_35, #CONTACTDIV_36*/

#CONTACTDIV_35:after,
#CONTACTDIV_36:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_35:after, #CONTACTDIV_36:after*/

#CONTACTDIV_35:before,
#CONTACTDIV_36:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_35:before, #CONTACTDIV_36:before*/

#CONTACTBUTTON_37 {
    bottom: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 35px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 133.406px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 66.7031px 17.5px;
    transform-origin: 66.7031px 17.5px;
    caret-color: rgb(255, 255, 255);
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box
        border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 14px sans-serif;
    margin: 15px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px 20px 11px;
    transition: background-color 0.15s ease-in-out 0s;
} /*#CONTACTBUTTON_37*/

#CONTACTBUTTON_37:after {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 14px sans-serif;
    outline: rgb(255, 255, 255) none 0px;
} /*#CONTACTBUTTON_37:after*/

#CONTACTBUTTON_37:before {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 14px sans-serif;
    outline: rgb(255, 255, 255) none 0px;
} /*#CONTACTBUTTON_37:before*/

#CONTACTDIV_38 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    float: left;
    height: 900px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 341.328px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 170.656px 450px;
    transform-origin: 170.656px 450px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
    padding: 15px 30px 15px 15px;
} /*#CONTACTDIV_38*/

#CONTACTDIV_38:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_38:after*/

#CONTACTDIV_38:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTDIV_38:before*/

#CONTACTH3_39,
#CONTACTH3_55,
#CONTACTH3_58,
#CONTACTH3_65 {
    box-sizing: border-box;
    height: 22px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 396.328px;
    perspective-origin: 148.156px 11px;
    transform-origin: 148.156px 11px;
    font: normal normal 400 normal 22px / 22px oswald;
    margin: 0px 0px 15px;
} /*#CONTACTH3_39, #CONTACTH3_55, #CONTACTH3_58, #CONTACTH3_65*/

#CONTACTH3_39:after,
#CONTACTH3_55:after,
#CONTACTH3_58:after,
#CONTACTH3_65:after {
    text-size-adjust: 100%;
    text-transform: uppercase;
    font: normal normal 400 normal 22px / 22px oswaldregular;
} /*#CONTACTH3_39:after, #CONTACTH3_55:after, #CONTACTH3_58:after, #CONTACTH3_65:after*/

#CONTACTH3_39:before,
#CONTACTH3_55:before,
#CONTACTH3_58:before,
#CONTACTH3_65:before {
    text-size-adjust: 100%;
    text-transform: uppercase;
    font: normal normal 400 normal 22px / 22px oswaldregular;
} /*#CONTACTH3_39:before, #CONTACTH3_55:before, #CONTACTH3_58:before, #CONTACTH3_65:before*/

#CONTACTUL_40 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 222px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 296.328px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 148.156px 111px;
    transform-origin: 148.156px 111px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    margin: 0px 0px 25px;
    outline: rgb(97, 97, 97) none 0px;
    padding: 0px;
} /*#CONTACTUL_40*/

#CONTACTUL_40:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTUL_40:after*/

#CONTACTUL_40:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTUL_40:before*/

#CONTACTLI_41 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 90px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 296.328px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 148.156px 45px;
    transform-origin: 148.156px 45px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    margin: 15px 0px;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_41*/

#CONTACTLI_41:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_41:after*/

#CONTACTLI_41:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_41:before*/

#CONTACTSTRONG_42,
#CONTACTSTRONG_47,
#CONTACTSTRONG_49,
#CONTACTSTRONG_51,
#CONTACTSTRONG_53 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    text-align: left;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 700 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTSTRONG_42, #CONTACTSTRONG_47, #CONTACTSTRONG_49, #CONTACTSTRONG_51, #CONTACTSTRONG_53*/

#CONTACTSTRONG_42:after,
#CONTACTSTRONG_47:after,
#CONTACTSTRONG_49:after,
#CONTACTSTRONG_51:after,
#CONTACTSTRONG_53:after {
    color: rgb(97, 97, 97);
    text-align: left;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 700 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTSTRONG_42:after, #CONTACTSTRONG_47:after, #CONTACTSTRONG_49:after, #CONTACTSTRONG_51:after, #CONTACTSTRONG_53:after*/

#CONTACTSTRONG_42:before,
#CONTACTSTRONG_47:before,
#CONTACTSTRONG_49:before,
#CONTACTSTRONG_51:before,
#CONTACTSTRONG_53:before {
    color: rgb(97, 97, 97);
    text-align: left;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 700 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTSTRONG_42:before, #CONTACTSTRONG_47:before, #CONTACTSTRONG_49:before, #CONTACTSTRONG_51:before, #CONTACTSTRONG_53:before*/

#CONTACTBR_43,
#CONTACTBR_44 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    text-align: left;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTBR_43, #CONTACTBR_44*/

#CONTACTBR_43:after,
#CONTACTBR_44:after {
    color: rgb(97, 97, 97);
    text-align: left;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTBR_43:after, #CONTACTBR_44:after*/

#CONTACTBR_43:before,
#CONTACTBR_44:before {
    color: rgb(97, 97, 97);
    text-align: left;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTBR_43:before, #CONTACTBR_44:before*/

#CONTACTBR_45 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    text-align: left;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTBR_45*/

#CONTACTBR_45:after {
    color: rgb(97, 97, 97);
    text-align: left;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTBR_45:after*/

#CONTACTBR_45:before {
    color: rgb(97, 97, 97);
    text-align: left;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTBR_45:before*/

#CONTACTLI_46,
#CONTACTLI_48,
#CONTACTLI_60,
#CONTACTLI_62,
#CONTACTLI_67,
#CONTACTLI_69 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 18px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 296.328px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 148.156px 9px;
    transform-origin: 148.156px 9px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    margin: 15px 0px;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_46, #CONTACTLI_48, #CONTACTLI_60, #CONTACTLI_62, #CONTACTLI_67, #CONTACTLI_69*/

#CONTACTLI_46:after,
#CONTACTLI_48:after,
#CONTACTLI_60:after,
#CONTACTLI_62:after,
#CONTACTLI_67:after,
#CONTACTLI_69:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_46:after, #CONTACTLI_48:after, #CONTACTLI_60:after, #CONTACTLI_62:after, #CONTACTLI_67:after, #CONTACTLI_69:after*/

#CONTACTLI_46:before,
#CONTACTLI_48:before,
#CONTACTLI_60:before,
#CONTACTLI_62:before,
#CONTACTLI_67:before,
#CONTACTLI_69:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_46:before, #CONTACTLI_48:before, #CONTACTLI_60:before, #CONTACTLI_62:before, #CONTACTLI_67:before, #CONTACTLI_69:before*/

#CONTACTLI_50,
#CONTACTLI_61,
#CONTACTLI_68 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 18px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 296.328px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 148.156px 9px;
    transform-origin: 148.156px 9px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    margin: 15px 0px;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_50, #CONTACTLI_61, #CONTACTLI_68*/

#CONTACTLI_50:after,
#CONTACTLI_61:after,
#CONTACTLI_68:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_50:after, #CONTACTLI_61:after, #CONTACTLI_68:after*/

#CONTACTLI_50:before,
#CONTACTLI_61:before,
#CONTACTLI_68:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_50:before, #CONTACTLI_61:before, #CONTACTLI_68:before*/

#CONTACTLI_52,
#CONTACTLI_63,
#CONTACTLI_71 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 18px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 296.328px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 148.156px 9px;
    transform-origin: 148.156px 9px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    margin: 15px 0px 0px;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_52, #CONTACTLI_63, #CONTACTLI_71*/

#CONTACTLI_52:after,
#CONTACTLI_63:after,
#CONTACTLI_71:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_52:after, #CONTACTLI_63:after, #CONTACTLI_71:after*/

#CONTACTLI_52:before,
#CONTACTLI_63:before,
#CONTACTLI_71:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_52:before, #CONTACTLI_63:before, #CONTACTLI_71:before*/

#CONTACTHR_54,
#CONTACTHR_57,
#CONTACTHR_64 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 1px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 296.328px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 148.156px 0.5px;
    transform-origin: 148.156px 0.5px;
    caret-color: rgb(97, 97, 97);
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(
            left,
            rgb(0, 0, 0),
            rgb(0, 0, 0) 30%,
            rgb(225, 225, 225) 30%,
            rgb(225, 225, 225)
        ) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    margin: 25px 0px 30px;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTHR_54, #CONTACTHR_57, #CONTACTHR_64*/

#CONTACTHR_54:after,
#CONTACTHR_57:after,
#CONTACTHR_64:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTHR_54:after, #CONTACTHR_57:after, #CONTACTHR_64:after*/

#CONTACTHR_54:before,
#CONTACTHR_57:before,
#CONTACTHR_64:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTHR_54:before, #CONTACTHR_57:before, #CONTACTHR_64:before*/

#CONTACTH3_56 {
    box-sizing: border-box;
    height: 22px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 296.328px;
    perspective-origin: 148.156px 11px;
    transform-origin: 148.156px 11px;
    font: normal normal 400 normal 22px / 22px oswaldregular;
    margin: 0px 0px 15px;
} /*#CONTACTH3_56*/

#CONTACTH3_56:after {
    text-size-adjust: 100%;
    text-transform: uppercase;
    font: normal normal 400 normal 22px / 22px oswaldregular;
} /*#CONTACTH3_56:after*/

#CONTACTH3_56:before {
    text-size-adjust: 100%;
    text-transform: uppercase;
    font: normal normal 400 normal 22px / 22px oswaldregular;
} /*#CONTACTH3_56:before*/

#CONTACTUL_59 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 117px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 296.328px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 148.156px 58.5px;
    transform-origin: 148.156px 58.5px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    margin: 0px 0px 25px;
    outline: rgb(97, 97, 97) none 0px;
    padding: 0px;
} /*#CONTACTUL_59*/

#CONTACTUL_59:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTUL_59:after*/

#CONTACTUL_59:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTUL_59:before*/

#CONTACTUL_66 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 150px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 296.328px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 148.156px 75px;
    transform-origin: 148.156px 75px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    margin: 0px 0px 25px;
    outline: rgb(97, 97, 97) none 0px;
    padding: 0px;
} /*#CONTACTUL_66*/

#CONTACTUL_66:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTUL_66:after*/

#CONTACTUL_66:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTUL_66:before*/

#CONTACTLI_70 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 18px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 296.328px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 148.156px 9px;
    transform-origin: 148.156px 9px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    margin: 15px 0px;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_70*/

#CONTACTLI_70:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_70:after*/

#CONTACTLI_70:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    list-style: none outside none;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTLI_70:before*/

#CONTACTSTRONG_72 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 700 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTSTRONG_72*/

#CONTACTSTRONG_72:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 700 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTSTRONG_72:after*/

#CONTACTSTRONG_72:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 700 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#CONTACTSTRONG_72:before*/
